<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <!-- Highcharts JavaScript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>
<body>
  {% if request.session.sessionid == None %}
      <ul id="menu">
          <li><a href="{% url 'login' %}">LOGIN</a></li>
          <li><a href="{% url 'register' %}">REGISTER</a></li>
      </ul>
  {% else %}
      <ul id="menu">
          <li><a href="#">{{request.session.sessionid}}</a></li>
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
      </ul>
  {% endif %}
  <header>
      <h1>HTML5, CSS3.0</h1>
  </header>
  <ul id="menu">
      <li><a href="{% url 'html5' %}">HTML5</a></li>
      <li><a href="{% url 'css3' %}">CSS3.0</a></li>
      <li><a href="{% url 'javascript' %}">JavaScript</a></li>
      <li><a href="{% url 'jquery' %}">jQuery</a></li>
      <li><a href="{% url 'ajax' %}">AJAX</a></li>
  </ul>
  <ul id="menu">
      <li><a href="{% url 'userlist' %}">USER LIST</a></li>
      <li><a href="{% url 'additem' %}">ADD ITEM</a></li>
      <li><a href="{% url 'itemlist' %}">ITEM LIST</a></li>
  </ul>
    {% if section != None %}
        {% include section %}
    {% else %}
        <section></section>
    {% endif %}
  <footer></footer>
</body>
</html>